<div class="mt-8 mb-8 mx-auto max-w-6xl overflow-x-auto relative shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="py-3 px-6">Name of event</th>
      <th scope="col" class="py-3 px-6">Description</th>
      <th scope="col" class="py-3 px-6">Date</th>
      <th scope="col" class="py-3 px-6">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" *ngFor="let event of events">
      <td class="py-4 px-6">{{ event.name }}</td>
      <td class="py-4 px-6">{{ event.description }}</td>
      <td class="py-4 px-6">{{ event.date | date:'mediumDate' }}</td>
      <td class="py-4 px-6">
        <a *ngIf="isLoggedIn()" [routerLink]="'/admin/event/edit/' + event.id"
           class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
        <button *ngIf="isLoggedIn()" (click)="deleteEvent(parseInt(event.id))"
                class="ml-4 text-red-600 hover:text-red-900 dark:text-red-500 dark:hover:text-red-400">Remove
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
