<div class="min-h-screen bg-gradient-to-r from-blue-500 to-teal-500 flex justify-center items-center">
  <div class="max-w-md w-full space-y-8 bg-white shadow-lg rounded-lg p-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Register
      </h2>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="mt-8 space-y-6">
      <div>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" formControlName="username" placeholder="Username"
               class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-teal-500 focus:border-teal-500 focus:z-10 sm:text-sm">
        <div *ngIf="registerForm.get('username')?.hasError('minlength')" class="text-red-500">
          Username must be at least 4 characters long.
        </div>
      </div>
      <div>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" formControlName="password" placeholder="Password"
               class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-teal-500 focus:border-teal-500 focus:z-10 sm:text-sm">
        <div *ngIf="registerForm.get('password')?.hasError('minlength')" class="text-red-500">
          Password must be at least 6 characters long.
        </div>
      </div>
      <div>
        <label for="email" class="sr-only">Email</label>
        <input type="email" id="email" formControlName="email" placeholder="Email"
               class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-teal-500 focus:border-teal-500 focus:z-10 sm:text-sm">
        <div *ngIf="registerForm.get('email')?.hasError('email')" class="text-red-500">
          Invalid email address.
        </div>
      </div>
      <div>
        <button type="submit"
                class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-teal-600 hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500">
          Register
        </button>
      </div>
    </form>
  </div>
</div>
